:root{
	--mainColor:#30261f;
	--secondaryColor:#000000;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(0, 0, 0, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#000000;


}